.form {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  margin: auto;
}

.field {
  margin-top: 0.5rem;
}

.center {
  text-align: center;
}

.submit {
  margin-top: 1rem;
  margin-right: 1rem;
}

.error {
  color: darkred;
}

.action {
  display: flex;
}
